﻿@model LoginViewModel


@{
    ViewBag.Title = "Login Page";
    var returnUrl = Context.Request.Query["ReturnUrl"];
}

<div class="container row">

    <h1><span>User Login Page</span></h1>

    <div class="col-12 border m-2">
        <form method="post" asp-controller="Account" asp-action="Login" asp-route-returnurl="@returnUrl">
            
           
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group row">
                <label asp-for="Email" class="col-3 col-form-label"></label>
                <input asp-for="Email" class=" form-control col-8 input-group-text" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <label asp-for="Password" class="col-form-label col-3"></label>
                <input asp-for="Password" class="form-control col-8 input-group-text"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <div class="custom-checkbox">
                    <input class="m-2" type="checkbox" asp-for="RememberMe"/>@Html.DisplayNameFor(m=>m.RememberMe)
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Login</button>

        </form>
    </div>
</div>
