﻿@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

    <h2 class="page-item"><span class="bg-light">New User Registeration</span></h2>
<br />
<div class="container border m-2 row">
    <div class="col-12 m-2">
        <form method="post" enctype="multipart/form-data" asp-controller="Account" asp-action="Register">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label" asp-for="Email"></label>
                <input class="col-md-8 form-control input-group-text" asp-for="Email" placeholder="Your Email Address" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <label class="col-md-3 col-form-label" asp-for="Password"></label>
                <input class="col-md-8 form-control input-group-text" asp-for="Password" placeholder="Enter Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <label class="col-md-3 col-form-label" asp-for="ConfirmPassword"></label>
                <input class="col-md-8 form-control input-group-text" asp-for="ConfirmPassword" placeholder="Confirm Password" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <label class="col-md-3 col-form-label" asp-for="City"></label>
                <input class="col-md-8 form-control input-group-text" asp-for="City" placeholder="Confirm Password" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary col-5">Register</button>
        </form>
    </div>
</div>

