﻿@model CreateRoleViewModel
@{
    ViewData["Title"] = "CreateRole";
}

<h1>CreateRole</h1>

<div class="container col-12 m-3">
    <form  method="post" asp-controller="Administration" asp-action="CreateRole">
        
        <div class="form-group row">
            <label asp-for="RoleName" class="col-form-label col-3"></label>
            <input asp-for="RoleName" class="form-control col-8"/>
            <span asp-validation-for="RoleName" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-outline-primary">Create Role</button>
    </form>
</div>