﻿@model EditUserViewModel
@{
    ViewData["Title"] = "EditUsers";
}

<div>

    <form method="post">
        <div asp-validation-summary="All"></div>
        <div class="form-group row">
            
            <label asp-for="Id" class="col-form-label col-3"></label>
            <input asp-for="Id" disabled class="form-control col-6" />
            <span asp-validation-for="Id" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <label asp-for="Email" class="col-form-label col-3"></label>
            <input asp-for="Email" class="form-control col-6" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <label asp-for="UserName" class="col-form-label col-3"></label>
            <input asp-for="UserName" class="form-control col-6" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <label asp-for="City" class="col-form-label col-3"></label>
            <input asp-for="City" class="form-control col-6" />
            <span asp-validation-for="City" class="text-danger"></span>
        </div>
        

        <div>
            <input type="submit" value="Update" class="btn btn-primary" />
            <a asp-action="ListUsers" asp-controller="Administration" class="btn btn-link">Cancel</a>
        </div>


        <hr />

        <div class="card">
            <div class="card-header">
                Users Roles
            </div>
            <div class="card-body">
                @if (Model.Roles.Any())
                {
                    @foreach (var role in Model.Roles)
                    {
                        <div class="card-title">
                            @role
                        </div>
                    }

                }
                else
                {
                    <div class="card-title">
                        None At the Moment
                    </div>

                }

            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary" style="width:auto">Manage Roles</a>
            </div>

        </div>

        <hr />

        <div class="card">
            <div class="card-header">
                Users Claims
            </div>
            <div class="card-body">
                @if (Model.Claims.Any())
                {
                    @foreach (var claim in Model.Roles)
                    {
                        <div class="card-title">
                            @claim
                        </div>
                    }

                }
                else
                {
                    <div class="card-title">
                        None At the Moment
                    </div>

                }

            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary" style="width:auto">Manage Claims</a>
            </div>

        </div>

    </form>

</div>
