﻿@model EditRoleViewModel
@{
    ViewData["Title"] = "EditRole";
}

<h1 class="h1">Edit Role Users</h1>
<div class="container border mt-4 mb-5 col-10">

    <div>
        <form method="post">

            <div class="form-group row m-4">
                <label class="col-form-label col-3" asp-for="Id"></label>
                <input asp-for="Id" class="form-control  col-7 input-group-text" disabled />
                <span asp-validation-for="Id"></span>
            </div>

            <div class="form-group row m-4">
                <label class="col-form-label col-3" asp-for="RoleName"></label>
                <input asp-for="RoleName" class="form-control  col-7 input-group-text" />
                <span asp-validation-for="RoleName"></span>
            </div>

            <div asp-validation-summary="All"></div>
            <button asp-action="EditRole" class="m-3 btn btn-primary">Edit</button>
            <a asp-action="ListRole" asp-controller="Administration">Cancel</a>

        </form>
    </div>
    <div>
        <div class="card">

            <div class="card-header">
                <p>Users in the Role</p>
            </div>
            <div class="card-body">

                @if (Model.Users.Any())
                {
                    foreach(var u in Model.Users)
                    {
                        <h2 class="card-title">@u</h2>
                    }
                }
                else
                {
                    <h2 class="card-title">None at the Moments</h2>
                }


            </div>

            <div class="card-footer">
                <a asp-action="UsersInRole" asp-controller="Administration" asp-route-RoleId="@Model.Id" class="btn btn-primary" style="width:auto">Add OR Remove Users from role</a>
            </div>
        </div>
    </div>

</div>


