﻿@model IEnumerable<IdentityRole>

@{
    ViewData["Title"] = "ListRole";
}

<h1>List Of All Roles</h1>

<a class="btn btn-primary mb-3" asp-controller="Administration" asp-action="CreateRole">Add New Role</a>

@if (Model.Any())
{
    foreach (var role in Model)
    {
        <div class="container row">

            <div class="card">
                <div class="card-header">

                    Role ID : @role.Id;
                </div>
                <div class="card-body">
                    <div class="card-title">
                        Role Title : @role.Name
                    </div>

                </div>
                <div class="card-footer">
                    <form  method="post" >
                        <a asp-controller="Administration" asp-action="EditRole" asp-route-Id="@role.Id" class="btn btn-dark">Edit</a>
                        <button asp-action="DeleteRole" asp-controller="Administration" asp-route-Id="@role.Id" onclick="return confirm('Are You  Sure You want To Delete?')" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>

    }
}
else
{<div class="container row">

        <div class="card">
            <div class="card-header">

                <div class="card-title">
                    <h3>There are No Roles Added</h3>
                </div>

            </div>
            <div class="card-body">

            </div>
        </div>
    </div>


}


