﻿@model IEnumerable<ApplicationUser>
@{
    ViewData["Title"] = "ListUsers";
}

<h1>ListUsers</h1>


@if (Model.Any())
{
    <a class="btn btn-primary" asp-action="Register" asp-controller="Account">Add New User</a>
    <hr />
    @foreach (var user in Model)
    {
        <div class="card m-4">

            <div class="card-header">
                @user.Id
            </div>

            <div class="card-body">

                <div class="card-title">
                    @user.UserName
                </div>

            </div>

            <div class="card-footer">
                <form method="post" asp-action="DeleteUser" asp-controller="Administration" asp-route-Id="@user.Id">
                    <a asp-controller="Administration" asp-action="EditUsers" asp-route-Id="@user.Id" class="btn btn-primary ">Edit</a>
                    <button type="submit" onclick="return confirm('Are you sure you want to Delete User :@user.UserName')" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    }


}
else
{

    <div class="card">

        <div class="card-header">
            <h2>List Of All Users</h2>
        </div>

        <div class="card-body">
            <h4>None at the Moment</h4>
        </div>

        <div class="card-footer">
            <button asp-action="Register" asp-controller="Account" class="btn btn-primary">Create New User</button>
        </div>
    </div>
}



