﻿@model List<UsersInRoleViewModel>


@{
    var roleId = ViewBag.roleId;
}

<h1>UsersInRole</h1>

<form method="post">

    <div class="card m-4">

        <div class="card-header m-3">
            <h2>List of Users</h2>
        </div>

        <div class="card-body m-3">

            @for(int i = 0; i< Model.Count; i++)
            {

                <div class="form-check m-1">

                    <input hidden asp-for="@Model[i].UserId" />
                    <input hidden asp-for="@Model[i].UserName"/>
                    
                    <input asp-for="@Model[i].IsSelected" class="form-check-input"/>
                    
                    <label class="form-check-label" asp-for="@Model[i].IsSelected">
                        @Model[i].UserName
                    </label>

                </div>
            }

        </div>

        <div class="card-footer m-3">
            <button asp-action="UsersInRole" asp-route-Id="@roleId" asp-controller="Administration">Update</button>
            <a asp-route-Id="@roleId" asp-action="EditRole" class="btn btn-link">Cancel</a>
        </div>
    </div>

</form>
