﻿@model EmployeeCreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<div>
    <div class="container m-3">
        <form  enctype="multipart/form-data" asp-controller="Home" asp-action="Create" method="post" class="mt-4">
            <div class="form-group row">
                <label asp-for="Name" class="col-sm-2 col-form-label">Name :</label>
                <div class="col-sm-8">
                    <input asp-for="Name" class="form-control input-group-text" placeholder="Name" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="Email" class="col-sm-2 col-form-label">Email :</label>
                <div class="col-sm-8">
                    <input asp-for="Email" class="form-control input-group-text" placeholder="Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>



            <div class="form-group row">
                <label asp-for="Department" class="col-sm-2 col-form-label">Department :</label>
                <div class="col-sm-8">
                    <select asp-for="Department" class="col-sm-12 input-group-text"
                            asp-items="Html.GetEnumSelectList<Dept>()">
                        <option value="">Please Select</option>
                    </select>
                    <span asp-validation-for="Department" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="Photo" class="col-sm-2 col-form-label"></label>

                <div class="col-sm-8">
                    <div class="custom-file">
                        <input  asp-for="Photo" class="form-control custom-file-input" />
                        <label class="custom-file-label">Choose File.....</label>
                    </div>
                </div>
            </div>

            <div asp-validation-summary="All" class="text-danger"></div>

            <button type="submit" value="Create" class=" col-sm-3 btn btn-primary">Create</button>

            @section Scripts{
                <script>
                    $(document).ready(function () {
                        $('.custom-file-input').on("change", function () {
                            var fileName = $(this).val().split("\\").pop();
                            $(this).next('.custom-file-label').html(fileName);
                        });
                    });
                </script>
            }
        </form>
    </div>
</div>