﻿
@model ViewModelDetails

@{

    ViewBag.Title = "Details";
    var photoPath = "~/Images/" + (Model.employee.PhotoPath??"YTS.jpg");
}

    <div class="row justify-content-center m-2">
        <div class="col-5">
            <div class="card">
                <div class="card-header text-lg-center">
                    <h1><b>@Model.employee.Name</b> </h1>
                </div>

                <div class="card-body text-sm-center">
                    <div style="padding:2px">
                        <img src="@photoPath" class="card-img-top" asp-append-version="true" />
                    </div>
                    <table class="text-center">
                        <tr>

                            <td><h5>Employee Id :</h5></td>
                            <td>@Model.employee.Id</td>
                        </tr>


                        <tr>

                            <td><h5>Name :</h5></td>
                            <td>@Model.employee.Name</td>
                        </tr>

                        <tr>

                            <td><h5>Email :</h5></td>
                            <td>@Model.employee.Email</td>
                        </tr>

                        <tr>

                            <td><h5>Department :</h5></td>
                            <td>@Model.employee.Department</td>
                        </tr>
                    </table>


                    <div class="card-footer text-center">
                    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Back</a>
                       
                        <a asp-controller="Home" asp-action="Edit" asp-route-Id="@Model.employee.Id" class="btn btn-primary">Edit</a>
                        <a href="#" class="btn  btn-danger">Delete</a>
                    </div>
                </div>
            </div>

        </div>

    </div>
