﻿@model EmployeeEditModel

@{
    ViewBag.Title = "Edit View";
    var Photopath = "~/Images/" + (Model.ExistingPhoto ?? "YTS.jpg");
}

    <div class="container m-3">

        <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Edit" class="mt-4">
            <input hidden asp-for="Id" />
            <input hidden asp-for="ExistingPhoto" />
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" asp-for="Name"></label>
                <input class="col-sm-8 form-control input-group-text" asp-for="Name" />
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label" asp-for="Email"></label>
                <input class="col-sm-8 form-control input-group-text" asp-for="Email" />
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label" asp-for="Department"></label>
                <input class="col-sm-8 form-control input-group-text" asp-for="Department" />
            </div>

            <div class="form-group row">

                <label class="col-sm-2 col-form-label" asp-for="Photo"></label>

                <div class="custom-file col-sm-8">
                    <input class="custom-file-input form-control" asp-for="Photo" />
                    <label class="custom-file-label" asp-for="Photo">Choose File to Change..</label>

                </div>

            </div>

            <div class="form-group row col-sm-4 offset-4">
                <img class="img-thumbnail" src="@Photopath" asp-append-version="true" />
            </div>



            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Update</button>
                    <a asp-controller="Home" class="btn btn-primary" asp-action="Index">Cancel</a>
                </div>
            </div>
        </form>

        @section Scripts {
        <script>
            $(function () {
                $('.custom-file-input').on("change", function () {
                    var fileName = $(this).val().split("\\").pop();
                    $(this).next('.custom-file-label').html(fileName);
                });
            });
        </script>
        }
    </div>