﻿@model int

@{
    ViewData["Title"] = "ErrorEmployee404";
}

<div class="alert alert-danger">
    <h1>404 Error Employee Not Found</h1>
    <hr />

    <h3>Employee With ID : @Model not Found</h3>

</div>
<div>
<a asp-action="Index"> Click Here To See List Of Employees</a>
</div>

