﻿@model IEnumerable<Employee>

@{

    ViewBag.Title = "Index";

}
    <div>
        
        <div class="card-deck">
            @foreach (var employee in Model)
            {

                var photPath = "~/Images/" + (employee.PhotoPath ?? "YTS.jpg");
                <div class="card m-3">
                    <div class="card-header">
                        <h3>@employee.Name</h3>
                    </div>
                    <img class="card-img" src="@photPath" asp-append-version="true" />
                    <div class="card-footer text-center">


                        <a asp-controller="Home" asp-action="Details" asp-route-Id="@employee.Id" class="btn btn-primary">View</a>

                        <a asp-controller="Home" asp-action="Edit" asp-route-Id="@employee.Id" class="btn btn-primary m-1">Edit</a>

                        <a href="#" class="btn btn-danger m-1">Delete</a>
                    </div>
                </div>
            }
        </div>
    </div>