﻿
@inject SignInManager<ApplicationUser> signInManager

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/css/Site.css" rel="stylesheet" />
    <script src="~/jquery/jquery.js"></script>
    <script src="~/jquery-validate/jquery.validate.js"></script>
    <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>

</head>
<body>

    <div class="container">

        <nav class="navbar navbar-expand-sm navbar-dark bg-dark m-3">

            <a asp-controller="Home" asp-action="Index" class="navbar-brand">
                <img src="~/Images/Home.png" height="50" width="50" />
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#CollapseNavBar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="CollapseNavBar">

                <ul class="navbar-nav ">

                    <li class="nav-item">
                        <a asp-controller="Home" asp-action="Index" class="nav-link">List</a>
                    </li>

                    <li class="nav-item">
                        <a asp-controller="Home" asp-action="Create" class="nav-link">Create</a>
                    </li>


                    @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="DropDownMenuLink" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                Manage
                            </a>
                            
                            <div class="dropdown-menu" aria-labelledby="DropDownMenuLink">
                                <a class="dropdown-item" asp-controller="Administration" asp-action="ListUsers">
                                    Users
                                </a>
                                <a class="dropdown-item" asp-controller="Administration" asp-action="ListRole">
                                    Roles
                                </a>
                            </div>
                        </li>
                        
                    }
                </ul>


                @if (signInManager.IsSignedIn(User))
                {
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <form method="post">
                                <button class="btn btn-link py-0" style="width:auto" type="submit" asp-controller="Account" asp-action="Logout">
                                    Logout @User.Identity.Name
                                </button>
                            </form>
                        </li>
                    </ul>
                }
                else
                {

                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Account" asp-action="Register">Registeration</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Account" asp-action="Login">Login</a>

                        </li>
                    </ul>

                }

            </div>
        </nav>





        <div>
            @RenderBody()
        </div>

        @if (IsSectionDefined("Scripts"))
        {
            @RenderSection("Scripts")

        }
    </div>
</body>
</html>
